<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<div class="container-fluid ">
  <!--<app-new-c></app-new-c> -->

  <div style="padding-bottom:20px; ">
    <h1>rang wo fa xian wo hen ben de grid</h1>
    <button type="button" [routerLink]="['/addform']">Add</button>
    <button (click)="onRemoveSelected()">Delete</button>
    <button>Edit</button>
    <button>Flights</button>
    <button>Copy</button>
    <button>Change Service</button>
    <button>Un-Receive</button>
    <button>Add Delayd Event</button>
    <!--<button class="btn btn-primary" (click)="onGet()">GetData</button> -->
  </div>



  <ag-grid-angular style="height: 80vh"
                   class="ag-fresh"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   [gridOptions]="gridOptions"
                   (gridReady)="onGridReady($event)"
                   [rowSelection]="rowSelection"
                   [getRowNodeId]="getRowNodeId"
                   [rowDeselection]="true"
                   enableSorting
                   [enableFilter]="true"
                   [enableRangeSelection]="true"
                   [enableColResize]="true"
                   [suppressMenuHide]="true"
                   [frameworkComponents]="frameworkComponents"
                   [defaultColDef]="defaultColDef"
                   [getMainMenuItems]="getMainMenuItems"
                   [localeText]="localeText"
                   [infiniteInitialRowCount]="infiniteInitialRowCount"
                   [enableServerSideSorting]="true"
                   [enableServerSideFilter]="true"
                   [paginationPageSize]="paginationPageSize"
                   [pagination]="true"
                   [suppressPaginationPanel]="true"
                   (paginationChanged)="onPaginationChanged($event)"
                   [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
                   [rowModelType]="rowModelType"
                   [cacheOverflowSize]="cacheOverflowSize"
                   [maxBlocksInCache]="maxBlocksInCache"
                   >


  </ag-grid-angular>

  <!--[headerHeight]="headerHeight"-->


</div>
